<div class="order">
    <div class="orderNumber">#{{ order.orderNumber }}</div>
    <div class="date">{{ order.date }}</div>

    <div class="statuses">
      <div class="row"><span>Статус оплаты</span> {{ order.financialStatus }}</div>
      <div class="row alignRight">
        <span>Статус доставки</span>
        {% if order.fulfillmentStatus %}{{ order.fulfillmentStatus }}{% else %}pending{%endif%}
      </div>
    </div>

    {% if order.discount %}
      <div>
        <div class="row"><span>Скидка</span> {{ order.discount.code }}</div>
      </div>
    {% endif %}

    <div class="totals">
      <div class="row"><span>В итоге</span>&#8362;{{ order.totalPrice }}</div>
      <div class="row"><span>Доставка</span>&#8362;{{ order.totalShippingPrice }}</div>
      <div class="row alignRight"><span>Товаров</span>&#8362;{{ order.subtotalPrice }}</div>
    </div>

    <div class="row"><span>Покупатель</span>{{ order.customer.phone }}</div>
    <div class="row"><span>Адрес доставки</span>{{ order.shippingAddress.address1 }}</div>
    <div class="row"><span>Вес в граммах</span>{{ order.totalWeight }}</div>

    <div>
      <span class="subheading">Продукты ({{ order.lineItems.size }})</span>
      <div>
        {% for lineItem in order.lineItems %}
          <div class="lineItem">
            <div>{{ forloop.index }}.</div>
            <img src="{{lineItem.image.srcWebp}}" width="70px"/>
            <div>
              <div>{{ lineItem.title.ru }}</div>
              <div>{{ lineItem.displayAmount }} {{ lineItem.unit }}</div>
              <div>&#8362;{{ lineItem.price }} × {{ lineItem.quantity }}</div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    {% if status == undefined %}
      <form method="post" action="/admin/api/complete_order">
        <input type="hidden" name="orderId" value="{{ order.id }}">
        <button type="submit" class="button">Завершить заказ #{{ order.orderNumber }}</button>
      </form>
  {% endif %}
  </div>